<h1>New Game</h1>

<div class="container text-center mt-4">
  <div class="row">
    <% @letters.each do |letter|  %>
    <%= letter %>
    <% end %>
  </div>
</div>

<h2>What is the longest word you can find?</h2>
<form action="score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="letters" placeholder="Who are you looking for?">
  <input type="submit" value="Play">
</form>
